@import "../../theme/variables";

.hoverDiv {
  color: $primary;
  font-size: 1.5rem;
  font-weight: 700;
  position: relative;
  height: 330px;
  text-align: center;
  width: 220px;

  h1 {
    font-size: inherit;
    margin: 0;
    padding: 3em 0.5em 0 0.5em;
  }

  h2 {
    font-size: inherit;
    margin-top: 0;
  }

  h3 {
    bottom: 1em;
    font-size: inherit;
    left: 50%;
    margin: 0;
    position: absolute;
    transform: translate(-50%, -50%);
  }
}

.movie {
  background: $backgroundGrey;
  height: 330px;
  position: relative;
  margin-top: 0;
  position: relative;
  width: 220px;

  .rating {
    background: $secondary;
    border-radius: 50%;
    color: #000;
    height: 40px;
    position: absolute;
    right: 0.5em;
    text-align: center;
    top: 0.5em;
    width: 40px;

    h1 {
      font-size: 1rem;
      font-weight: 700;
    }
  }

  .altContainer {
    align-items: center;
    display: flex;
    height: 330px;
  }

  img {
    height: auto;
    width: 100%;
  }
}
