@import "../../theme/variables";

.container {
  background: $backgroundGrey;
  display: flex;
  justify-content: center;
  padding: 1em;

  button {
    @extend %sharedBtn;
  }

  .activeFilter {
    color: #fff;
    outline: none;
  }
}
