$primary: #19427a;
$primaryDark: #033577;
$secondary: #00d6c6;
$secondaryDark: #05b2a4;
$backgroundGrey: #eeeeee;

%sharedBtn {
  background: $secondaryDark;
  border: none;
  border-radius: 5px;
  font-size: 0.75rem;
  font-weight: 700;
  margin: 0 1em;
  padding: 0.5em 1em;

  &:hover {
    background: $secondary;
    cursor: pointer;
  }

  &:active {
    transform: translateY(2px);
  }
}
