@import "../../theme/variables";

.searchbar {
  background: $primary;
  border-top: 1px solid #fff;
}

.container {
  padding: 1em 2em;
  margin: 0 auto;
  max-width: 1200px;
}

form {
  input {
    border: 1px solid $secondaryDark;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.25em 0.5em;
  }

  button {
    @extend %sharedBtn;
  }
}
