@import "../../theme/variables";

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 160px);
  grid-gap: 0px;
  justify-content: center;
  margin: 1em auto;
  width: 98%;
}

.link {
  color: $primary;
  text-decoration: none;
}

@media (min-width: 414px) {
  .list {
    grid-template-columns: repeat(auto-fill, 220px);
    max-width: 1200px;
    width: 90%;
  }
}
