@import "../../theme/variables";

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 220px);
  grid-gap: 0px;
  justify-content: center;
  margin: 1em auto;
  max-width: 1200px;
  width: 90%;
}

.link {
  color: $primary;
  text-decoration: none;
}
